<!doctype html>
<body>
  <div class="grid-container">
    <header class="header">
      <h1 class="header_title">Twitter Feuds</h1>
      <nav class="header_nav">
        <form class="header_nav_searchBar_1 searchBar">
          <input class="header_nav_searchBar_1_textInput textInput" name="username_1" type="text" placeholder="Search for first Twitter user.."  autocomplete="off" autofocus />
          <button class="header_nav_searchBar_1_searchIcon searchIcon">
            <img class="icon" src="./img/icons/searchIcon.png" alt="search icon for user 1"></button>
          </button>
        </form>
        <h2 class="header_nav_VS">VS</h2>
        <form class="header_nav_searchBar_2 searchBar">
          <input class="header_nav_searchBar_2_textInput textInput" name="username_2" type="text" placeholder="Search for second Twitter user.."  autocomplete="off" />
          <button class="header_nav_searchBar_2_searchIcon searchIcon">
            <img class="icon" src="./img/icons/searchIcon.png" alt="search icon for user 2"></button>
          </button>
      </button>
        </form>
      </nav>
    </header>
