<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tjoep</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
      </head>
      <body>




        
        <section class="login">
          <h1 class="main-title">Tjoep!</h1> 
        <form class="loginForm" action="">
        
        <input id="nickname" placeholder="Enter a nickname" autocomplete="off" />
        
        
        <label for="Gameroom 1">Gameroom 1
          <input type="radio" id="Gameroom 1" name="room" value="0">
        </label>
        
        <label for="Gameroom 2">Gameroom 2
          <input type="radio" id="Gameroom 2" name="room" value="1">
        </label>

        <label for="Gameroom 3">Gameroom 3
          <input type="radio" id="Gameroom 3" name="room" value="2">
        </label>

        <label for="Gameroom 4">Gameroom 4
          <input type="radio" id="Gameroom 4" name="room" value="3">
        </label>

        <input type="submit" value="Enter room">
      
        </form>
        
        </section>

        <section class="chat">
        <ul id="messages"></ul>
        <form class="chatForm" action="">
          <input id="message" autocomplete="off" /><button>Send</button>
        </form>
        </section>
       
        <section class="gameField">
          <h1 class="turn"></h1>

        </section>
       
        <section class="cards">
        </section>
        
        <section class="playerInfo">
          
          <h1 class="points"></h1>
          <button class="start">Start game</button>
          <button class="leave">Leave game</button>
          <button class="toep">Toep</button>
        </section>

        <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close">&times;</span> -->
    <p class="toepMessage"></p>

    <button class="joinToep">Ga niet mee</button>
    <button class="foldToep">Ga mee</button>

  </div>

</div>

        <script src="/js/client.js"></script>

      </body>
</html>