<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(content="width=device-width, initial-scale=1.0" name="viewport")
        meta(content="ie=edge" http-equiv="X-UA-Compatible")
        title #{ title }
        link(rel="stylesheet", href="/game.css")
    body
        div.gameInfo
            p Room:
            p#gameId=gameId
            input#playerName(type="hidden" value=name)
        div.playerInfo
            p Players:
            ul
                li #{name} (me)
        div.chat
            ul#messages
            form(action="")
                input#m(autocomplete="off" type="text")
                button#send Send
        div#webgl
        script(src='/main.js')