extends layouts/main-layout.pug
block content
    if gameId
        form#directLink(style='opacity: 0; position: absolute;')
            input(type="hidden" value=gameid)
    div#preSelect(style='left: 50%;')
    form#host(action="/host" method="POST")
        button.back < back
        label(for="name") Display name:
            input#name(type="text" name='name' required)
        button Create Room
    form#join(action="/join" method="POST")
        button.back < back
        if gameId
            p You have to enter a name before joining
        label(for="joinName") Display name:
            input#joinName(type="text" name='name' required)
        if gameId
            label(for="joinGameId") Join Code:
                input#joinGameId(type="text" name='gameId' value=gameId)
        else
            label(for="joinGameId") Join Code:
                input#joinGameId(type="text" name='gameId')
        button Join Room