@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
/* form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
} */

.login{

   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;


}

.loginForm{
  position: relative;
  display: flex;
  flex-direction: column;
}

.loginForm input{
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: solid;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

button{
  font-size: 1.5rem;
  border-radius: 5px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: .8rem;
  padding-right: .8rem;
  background: #77bd66;
  color: #ffffff;
}


#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 1rem;
}
/* #messages li {
  padding: 5px 10px;
} */
/* #messages li:nth-child(odd) {
  background: #eee;
} */

.chat{
    display: none;
}

.serverMessage{
    width: 100%;
    font-size: 1rem;
    background: seagreen;
    color: white;
    padding: 1rem;
    border-radius: .2rem;
    margin: 0 auto;
}

.yourMessage{
    display: block;
    width: 40%;
    font-size: 1rem;
    background: lightskyblue;
    color: black;
    padding: 1rem;
    border-radius: .2rem;
    float: right;
    margin-left: 25%;
    margin-top: 4%;
}

.incomingMessage{
    display: block;
    width: 40%;
    font-size: 1rem;
    background: lightgreen;
    color: black;
    padding: 1rem;
    border-radius: .2rem;
    float: left;
    margin-right: 25%;
    margin-top: 4%;
}

.serverNotification{
    width: 100%;
    background: white;
    padding: 1rem;
    color: black;
}

.cards{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.cards img:hover{
    opacity: .5;
}

.gameField{
    display: none;
    height: 314px;
    margin-bottom: 2rem;
}

.gameField img:not(:first-child){
    position: absolute;
    left: 40px;
}
.gameField img:nth-of-type(3){
    /* position: absolute; */
    left: 80px;
}

.playerInfo{
  display: flex;
}

.main-title{
  font-family: 'Bangers', cursive;
  margin: auto;
  position: absolute;
  top: 6rem; 
  bottom: 0;
  font-size: 10rem;
  -webkit-text-stroke: 1px black;
  color: yellow;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.turn{
  background: #6cbf3b;
  color: white;
  font-size: 1rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}