:root {
    --dark: #191516;
    --primary: #471323;
    --secondary: #CEB992;
    --ternary: #5B2E48;
    --error: #D90368;
    --succes: #73937E;
    --light: #C9DAEA;
}

body, .app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    background-color: var(--primary);
}

footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    height: 3em;
    width: 100%;
    flex-shrink: 0;
    padding: 20px 40px 40px;
    background-color: var(--primary);
    color: var(--secondary);
}

body {
    font: 13px Helvetica, Arial;
}

header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    height: 5em;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    flex: 1 0 auto;
    padding: 6em 1em 5em;
    background-color: var(--ternary);
    display: flex;
    flex-direction: column;
}

main::-webkit-scrollbar {
    display: none;
}

form {
    font-size: 1.5em;
    padding: 15px 10px;
    background-color: var(--primary);
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
}
form p {
    font-size: 0.6em;
    color: var(--error);
    margin: 1em 0;
}

form label {
    display: flex;
    margin-bottom: 0.5em;
    justify-content: space-between;
}

button {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

form input {
    border-radius: 5px;
    margin-right: 0;
    padding: 0.3em 0;
}

form label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

form button {
    width: 100%;
    margin-top: 1em;
    border: none;
    padding: 10px;
}

#messages li{
    word-break: break-word;
    max-width: 1000px;
    margin: 0 auto 0.2em;
    display: flex;
    list-style-type: none;
    padding: 0;
}

#messages li em{
    margin: 0 0.5em;
    font-style: normal;
    display: flex;
    align-items: center;
}

#messages li.other em{
    flex-direction: row-reverse;
}

#messages li em img {
    position: relative;
    height: 20px;
    width: 20px;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
    margin: 0 1ch;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#messages li em img:before {
    object-fit: contain;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(230, 0, 0);
    border: 2px dotted rgb(200, 200, 200);
    border-radius: 5px;
}

#messages li p{
    min-width: 40%;
    max-width: 80%;
    padding: 5px 10px;
    border-radius: 3px;
}

#messages li.own {
    align-items: flex-start;
    justify-content: flex-end;
}

#messages li.other {
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row-reverse;
}


#messages li.own p {
    background: var(--succes);
    color: var(--error);
}

#messages li.other p {
    background: var(--primary);
    color: var(--succes);
}

#messages li.welcome {
    background: none;
    color: var(--primary);
}

canvas {
    background-color: white;
    border-radius: 10px;
}

#join, #host {
    transition: opacity 0.4s ease-out, left 0.6s ease-out;
}

#preSelect {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 2em 1em;
    background: var(--primary);
    border: none;
    border-radius: 10px;
    box-shadow: none;
    transition: 0.4s ease-out;
}

#preSelect button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 3em;
}

button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
}

.back {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    margin-bottom: 0.5em;
    width: 10ch;
    text-align: center;
}

#preSelect, #host, #join {
    position: absolute;
    top: 30vh;
    transform: translateX(-50%);
}